<h1><a href="javascript:void(0)" ng-click="editPreset()">{{preset.header}}</a></h1>


<div  ng-show="edit_preset" class="container box">
<form class="form" role="form">
    <div class="box-label">Edit query</div>
    <div class="form-group">
        <label for="query">Query name</label>
        <input class="form-control" ng-model="preset.header"/>
    </div>
    <div class="form-group">
        <label for="query">Query</label>
        <input class="form-control" ng-model="query"/>
    </div>
    <button class="btn btn-primary" ng-click="updatePreset()">
        Save
    </button>
    <button class="btn btn-default" ng-click="editPreset()">
        Cancel
    </button>
</form>
</div>


<div ng-show="loading">
    <div class="content">Loading...</div>
</div>

<div ng-show="defects" class="form-group">
    <input ng-model="searchText" placeholder="Quick filter..."
           class="form-control"/ >
</div>

<table ng-show="defects" data-provides="rowlink" class="table table-bordered">
    <tr><th>Id</th><th>Description</th><th>Owner</th></tr>
    <tr ng-repeat="defect in defects| filter:searchText">
        <td>
            <a href="#/defect/{{defect.id}}">{{defect.id}}</a>
        </td>
        <td>
            <a href="#/defect/{{defect.id}}">{{defect.name}}</a>
        </td>
        <td>{{getFullName(defect.owner)}}</td>
    </tr>
</table>
