
            <div>
                    <h4>#{{defect.id}} {{defect.name}}</h4>
                    <div class="box"><div class="box-label">Description</div><div ng-bind-html-unsafe="defect.description"></div></div>
                    <div class="box"><div class="box-label">Comments</div><div ng-bind-html-unsafe="defect['dev-comments']"></div></div>
                    <div class="box"><div class="box-label">Detected in/on</div>{{defect["detection-version"]}}, {{defect["detected-in-rel"]}}, {{defect["creation-time"]}}</div>
                    <div class="box"><div class="box-label">Owner</div>
                    {{defect.owner}}
                    </div>
                    <!--Defect Attachments</br-->
            </div>
