            <div class="jumbotron">
              <h1>Hi, team!</h1>
              <p>This app was inspired by the need to quickly view and edit defects in our internal HP ALM instance.</p>
                <p>Defects editing is quite limited. <b>ALM workflow doesn't work</b>. I.e. you should manually follow the workflow.
                  I.e. when you change the status to fixed, don't forget to assign QA person</p>
              <p>It is meant to be highly tailored to our needs.</p>
              <p> It is largely experimental and needs some dirty workarounds to work
              (like the cross origin extension you've installed).</p>
            </div>

